{:deps {org.clojure/clojure {:mvn/version "1.9.0"}
        org.clojure/core.async {:mvn/version "0.7.559"}
        camel-snake-kebab {:mvn/version "0.4.1"}
        com.taoensso/timbre {:mvn/version "4.10.0"}
        org.openjfx/javafx-fxml {:mvn/version "13.0.2"}}
 :paths ["src" "classes"]
 :aliases {:outdated {:extra-deps {olical/depot {:mvn/version "1.8.4"}}
                      :main-opts ["-m" "depot.outdated.main" "-a" "outdated"]}
           :test {:extra-deps {lambdaisland/kaocha {:mvn/version "0.0-581"}}
                  :main-opts ["-m" "kaocha.runner"]
                  :extra-paths ["test"]}}}
